<h1>Opinie o filmie</h1>

<%= render 'opinions/opinion' %>

<!-- <table>
  <th> Nick </th>
  <th> Recenzja </th>
  <th> Rating </th>
  <% @opinions.each do |opinion| %>
    <tr>
      <td> <%= opinion.nick %> </td>
      <td> <%= opinion.review %> </td>
      <td> <%= opinion.rating %> </td>
    </tr>
  <% end %>
</table> -->
<p><%= link_to "Wróć do filmu", film_path(@film.id) %></p>
