<h1>Katalog filmów - index</h1>

<p> <%= link_to "Dodaj nowy film do bazy", new_film_path %> </p>

<table>
  <th> Tytuł </th>
  <th> Opis </th>
  <th> Liczba opinii </th>
  <th> Rating </th>
  <% @films.each do |film| %>
    <tr>
      <td> <%= film.title %> </td>
      <td> <%= film.description %> </td>
      <td> <% @number = film.opinions.all.length %> 
       <%= @number %> </td>
      <td> <% @sum = [] %>
          <% film.opinions.each { |op| @sum << op.rating } %>
          <%= (@sum.sum.to_f/@number).round(1) %></td>
      <td> <%= link_to "Szczegóły", film_path(film.id) %>
      <td> <%= link_to "Edytuj", edit_film_path(film.id) %>
      <td> <%= link_to "Kasuj", film_path(film.id), method: :delete %>
      <td> <%= link_to "Opinie o filmie", film_opinions_path(film.id) %>
    </tr>
  <% end %>
</table>