<h1>Pokaż szczegóły filmu - show</h1>
<p><%= link_to "Katalog filmów", films_path %> </p> 


<p> Tytuł: </p>
<%= @film.title %>
<p> Opis : </p>
<%= @film.description %>


<p> <%= link_to "Edytuj", edit_film_path(@film.id) %> </p> 
<p> <%= link_to "Dodaj recenzję", new_film_opinion_path(@film.id) %> </p> 



<p> 
  <table>
  <th> Nick </th>
  <th> Recenzja </th>
  <th> Rating Usera</th>
  <th> Skasuj </th>
  <% @opinions.each do |opinion| %>
    <tr>
      <td> <%= opinion.nick %> </td>
      <td> <%= opinion.review %> </td>
      <td> <%= opinion.rating %> </td>
      <td> <%= link_to "skasuj", film_opinion_path(opinion.film, opinion), method: :delete %> </td>
    </tr>
  <% end %>
</table>
</p>